body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto";
}

/* Шапка */

.header a {
  text-decoration: none;
}

.logo-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-span {
  color: #2196f3;
}

.list {
  list-style: none;
}

.header-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-link {
  color: #212121;
}

.header-link:hover {
  color: #2196f3;
}

.header-link:focus {
  color: #2196f3;
}

.info-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.info-link:hover {
  color: #2196f3;
}

.info-link:focus {
  color: #2196f3;
}
